p{background-color: aqua;}
h1{color: crimson;}
p{background-image: url("https://tse1.mm.bing.net/th?id=OIP.a_dzjmQD2GwaHnLIf41AUwAAAA&pid=Api&P=0&h=220");
width: 500px;
height: 800px;
background-repeat: no-repeat;}
strong{background-color: chartreuse;}